<ion-content [fullscreen]="true">
  <ion-toolbar color="white">
    <ion-title color="black">
   <h2>Welcome, Adedigba</h2>
    </ion-title>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button color="black" menu="main-menu" id="main" ></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>

  <ion-slides pager="true">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
   
</ion-content>
