<ion-content>
  <div class="top-section ion-padding">
    <div class="top-menu">
      <img src="/assets/platform.png" alt="Ali">
      <img src="/assets/platform.png" alt="Kewu">

    </div>
    <div class="title">
      <h2>Global Trade Tutor</h2>
      <ion-select [interfaceOptions]="customActionSheetOptions" value="india" interface="action-sheet" placeholder="Select One">
        <ion-select-option>India</ion-select-option>
        <ion-select-option>Nigeria</ion-select-option>

      </ion-select>
    </div>
    <div class="sub-title">
      <h3>Are you Feeling Sick</h3>
      <p>If you  are feeling sick with any of covid-19</p>
    </div>

    <div class="action-button">
      <ion-button class="call">
        <ion-icon name="call"></ion-icon>Call Now
      </ion-button>

      <ion-button class="sms">
        <ion-icon name="chatbubble"></ion-icon>Send SMS
      </ion-button> 

    </div>
  </div>

  <div class="middle-section ion-padding">
    <h3>Prevention</h3>
    <div class="content">
      <ion-row>
        <ion-col size="4">
          <img src="/assets/logo_lag.jpg" alt="">
          <p>Avoid Close Contact</p>
        </ion-col>
        <ion-col size="4">
          <img src="/assets/logo_lag.jpg" alt="">
          <p>Avoid Close Touching Nose</p>
        </ion-col>
        <ion-col size="4">
          <img src="/assets/logo_lag.jpg" alt="">
          <p>Avoid Close Eyes</p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="bottom-section ion-margin">
    <img src="/assets/tutorng.jpeg">
    <div class="content">
      <h3>Do you Test</h3>
      <p>Follow The instruction to do your test</p>
    </div>
  </div>

</ion-content>
