
<ion-content>
  <div class="header ion-padding">
    <div class="info">

    <ion-icon name="chevron-back-outline" routerLink="/"></ion-icon>
   <!-- <ion-item>
      <ion-avatar slot="start">
        <img src="assets/hero-2.jpg" alt="Avatar">
   
      </ion-avatar>
      <ion-label>Aliy</ion-label>
    </ion-item>
  -->
  <ion-avatar>
    <img src="assets/logo.png" alt="Avatar">
  </ion-avatar>
  <span class="details">
    <h1>Aliy</h1>
    <p>Online</p>
  </span>

  </div>
    <div class="calling">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-icon name="call-outline"></ion-icon>
    </div>
  </div>

  <div class="conversation ion-padding">
     <div class="chat-section" id="chat">
      <div class="chat">
        <div class="yours messages">
          <div class="message other">
              Hey!
          </div>
         <div class="message other">
           You there?
          </div>
          <!--<div class="last-message-other">
            Hey!
          </div>-->
          <div class="last-message-other">
            <ion-avatar>
              <img src="assets/logo.png" alt="avatar">
            </ion-avatar> 
            <div class="message last">
              Hello, how's going
            </div>
          </div>
            <span>1:4 PM</span>
          </div>
          <div class="mine messages">
            <div class="message">
              Great thanks!
            </div>
            <div class="message last">
              How about you?
            </div>
            <span>
              <ion-icon name="checkmark-done-outline"></ion-icon>1:44 PM
            </span>
          </div>
        </div>
      </div>

      <div class="message-input">
        <ion-input placeholder="Type your message..."></ion-input>
        <div class="send-button">
          <ion-icon name="send-sharp"></ion-icon>
        </div>
      </div>
  </div>
  
 

</ion-content>
