
<ion-content class="background">
  
  <ion-toolbar color="white">
    <ion-title color="black">
      
    </ion-title>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button color="black" menu="main-menu" id="main" ></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>
  <div class="login_logo">
 
    <center>
      <img src="assets/login.png">
 
    
    </center>
  </div>
   <div class="content">
     <center>  <h2>Login Page</h2></center>
     <ion-row>
       <ion-col offset-xs="2" size-xs="8"  size-sm="6" offset-sm="3" size-md="6" offset-md="3">
   
     <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        
         <ion-input type="email" ngModel name="email" #emailCtrl="ngModel" required email placeholder="Email" style="padding-left: 10px !important; font-family:'Courier New', Courier, monospace"></ion-input>
       <!--  <p *ngIf="!emailCtrl.valid && emailCtrl.touched" style="color: red;">Please provide a valid email address</p>-->
           <br>
         <ion-input type="password" ngModel name="password" required placeholder="Password" style="padding-left: 10px !important; font-family:'Courier New', Courier, monospace"></ion-input>
     <br>
  
       <ion-button type="submit" class="actionbutton" fill="solid"
        expand="full" style="text-transform: none;" color="primary"
         ><b>Sign in</b></ion-button>

         <p>Don't have an Account ?</p>
         <p>Sign Up <a href="/register">Here</a></p>
         </form>
 
   </ion-col>
 </ion-row>
   </div>
    
 
 </ion-content>